In [1]:
#import pandas library
import pandas as pd

In [5]:
# read dataset
df = pd.read_csv('/home/ls283h/Work/EcoQuartier/iris_in_qpv.csv')
df = pd.concat([df.loc[:,['area_qpv','fid_qpv']],df.loc[:,'NUMPOINTS_ETI':]], axis=1)
df

,area_qpv,fid_qpv,NUMPOINTS_ETI,NUMPOINTS_GE,Data_joined_Zone,Data_joined_Surface_(m2),Data_joined_Population,Data_joined_m2/inhabitant,Data_joined_IDS,Data_joined_IDS_Mincome,...,Data_joined_AS_P_2,Data_joined_AS_P_3,Data_joined_AS_P_4,Data_joined_AS_C_City,Data_joined_AS_C_No,Data_joined_AS_C_Walk,Data_joined_AS_C_2W,Data_joined_AS_C_Car,Data_joined_AS_C_PublicT,area_iris_in_qpv
0,1,27656,5,17,2.0,5387510.6,1872.0,2878.0,0.974878,16382.0,...,20.18,25.09,3.75,14.51,3.00,2.58,0.86,84.98,8.58,10488.403
1,1,28025,0,2,2.0,1870587.5,1956.0,956.0,2.119538,16382.0,...,9.80,28.71,0.70,22.94,1.47,10.29,0.00,85.29,2.94,99673.876
2,2,503,7,1,1.0,453698.8,2719.0,167.0,3.276863,11810.0,...,8.49,23.56,1.62,69.39,2.98,5.64,3.29,70.27,17.82,121983.911
3,3,4754,6,4,2.0,1680556.8,2336.0,719.0,0.764969,16421.0,...,16.52,29.65,4.01,82.62,3.69,2.33,3.29,89.47,1.22,4452.182
4,3,4829,7,7,2.0,466452.4,2745.0,170.0,4.364091,8441.0,...,8.63,20.85,3.20,76.71,6.62,10.87,1.74,78.25,2.52,158818.407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5226,1270,18444,8,0,2.0,68851.5,1929.0,36.0,4.411850,5864.0,...,6.40,18.67,2.67,80.30,0.00,18.20,7.72,23.64,50.44,67351.036
5227,1270,18445,62,88,2.0,288645.0,2741.0,105.0,3.426453,7865.0,...,9.72,17.18,1.84,63.23,2.04,16.89,8.76,32.15,40.17,80744.596
5228,1270,18446,8,13,2.0,85469.0,1892.0,45.0,1.268310,11511.0,...,13.20,24.73,0.99,68.38,2.67,11.39,6.01,36.07,43.85,33512.281
5229,1271,49547,6,2,3.0,701419.1,3920.0,179.0,0.615536,16330.0,...,18.67,25.10,2.31,22.21,3.16,1.77,1.47,61.50,32.10,119709.100
5230,1271,49700,18,21,3.0,834817.4,2586.0,323.0,-1.018231,23278.0,...,24.81,21.64,3.63,20.52,3.86,3.47,2.19,61.57,28.91,653.689

In [6]:
# multiply proportion of Iris area in EQ area by variables of interest 
df1 = df[df.columns[2:-1]].multiply(df.area_iris_in_qpv/df.area_qpv, axis=0)

In [7]:
# concatenate iris id again
df2 = pd.concat([df['fid_qpv'], df1], axis=1)
df2

,fid_qpv,NUMPOINTS_ETI,NUMPOINTS_GE,Data_joined_Zone,Data_joined_Surface_(m2),Data_joined_Population,Data_joined_m2/inhabitant,Data_joined_IDS,Data_joined_IDS_Mincome,Data_joined_IDS_Unempl,...,Data_joined_AS_P_1,Data_joined_AS_P_2,Data_joined_AS_P_3,Data_joined_AS_P_4,Data_joined_AS_C_City,Data_joined_AS_C_No,Data_joined_AS_C_Walk,Data_joined_AS_C_2W,Data_joined_AS_C_Car,Data_joined_AS_C_PublicT
0,27656,52442.015000,178302.851000,20976.806000,5.650638e+10,1.963429e+07,3.018562e+07,10224.915060,1.718210e+08,799.853615,...,66496.475020,211655.972540,2.631540e+05,39331.511250,1.521867e+05,31465.209000,2.706008e+04,9020.026580,8.913045e+05,8.999050e+04
1,28025,0.000000,199347.752000,199347.752000,1.864487e+11,1.949621e+08,9.528823e+07,211262.569882,1.632857e+09,17011.921516,...,139543.426400,976803.984800,2.861637e+06,69771.713200,2.286519e+06,146520.597720,1.025644e+06,0.000000,8.501185e+06,2.930412e+05
2,503,426943.688500,60991.955500,60991.955500,2.767198e+10,1.658371e+08,1.018566e+07,199862.293803,7.203150e+08,16317.772953,...,87828.415920,517821.702195,1.436970e+06,98806.967910,4.232232e+06,181756.027390,3.439946e+05,200663.533595,4.285905e+06,1.086877e+06
3,4754,8904.364000,5936.242667,2968.121333,2.494048e+09,3.466766e+06,1.067040e+06,1135.260413,2.436976e+07,237.383305,...,7820.999713,24516.682213,4.400240e+04,5951.083273,1.226131e+05,5476.183860,3.457861e+03,4882.559593,1.327789e+05,1.810554e+03
4,4829,370576.283000,370576.283000,105878.938000,2.469374e+10,1.453188e+08,8.999710e+06,231032.646496,4.468621e+08,21251.492682,...,195876.035300,456867.617470,1.103788e+06,169406.300800,4.060987e+06,350459.284780,5.754520e+05,92114.676060,4.142513e+06,1.334075e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5226,18444,424.258494,0.000000,106.064624,3.651354e+06,1.022993e+05,1.909163e+03,233.970584,3.109815e+05,20.940964,...,129.398841,339.406796,9.901133e+02,141.596273,4.258495e+03,0.000000,9.651881e+02,409.409447,1.253684e+03,2.674950e+03
5227,18445,3941.862167,5594.901140,127.156844,1.835159e+07,1.742685e+05,6.675734e+03,217.848460,5.000443e+05,20.408615,...,418.346017,617.982262,1.092277e+03,116.984297,4.020064e+03,129.699981,1.073840e+03,556.946977,2.044046e+03,2.553945e+03
5228,18446,211.100983,343.039097,52.775246,2.255324e+06,4.992538e+04,1.187443e+03,33.467673,3.037479e+05,5.364517,...,274.431277,348.316621,6.525659e+02,26.123747,1.804386e+03,70.454953,3.005550e+02,158.589613,9.518016e+02,1.157097e+03
5229,49547,565.109835,188.369945,282.554917,6.606314e+07,3.692051e+05,1.685911e+04,57.974217,1.538041e+06,15.016476,...,1003.069957,1758.433436,2.364043e+03,217.567286,2.091848e+03,297.624513,1.667074e+02,138.451910,5.792376e+03,3.023338e+03
5230,49700,9.257594,10.800526,1.542932,4.293556e+05,1.330008e+03,1.661224e+02,-0.523687,1.197213e+04,0.040519,...,8.054107,12.760050,1.112969e+01,1.866948,1.055366e+01,1.985240,1.784658e+00,1.126341,3.166611e+01,1.486872e+01

confirmed with Hugo:NA values are replace by zero before the sum (min_count can be set to 1) but if there is only a missing value in the group then the result will be NaN!

In [13]:
# final weighted mean by summing up weighted values
df_weighted = df2.groupby('fid_eq').sum(min_count=1)
df_weighted

,NUMPOINTS_ETI,NUMPOINTS_GE,Data_joined_Population,Data_joined_m2/inhabitant,Data_joined_IDS,Data_joined_IDS_Mincome,Data_joined_IDS_Unempl,Data_joined_IDS_BlueCol,Data_joined_IDS_Bac,Data_joined_BPE_L_Restau,...,Data_joined_AS_P_1,Data_joined_AS_P_2,Data_joined_AS_P_3,Data_joined_AS_P_4,Data_joined_AS_C_City,Data_joined_AS_C_No,Data_joined_AS_C_Walk,Data_joined_AS_C_2W,Data_joined_AS_C_Car,Data_joined_AS_C_PublicT
fid_eq,,,,,,,,,,,,,,,,,,,,,
1,2.000000,0.000000,558.000000,58482.000000,1.014270,16354.000000,0.100000,0.282609,0.232346,0.000000,...,6.830000,19.120000,21.850000,4.100000,24.360000,5.450000,3.640000,0.000000,89.090000,1.820000
2,1.023630,5.739738,2630.996950,415.314037,-0.427513,21126.533645,0.073733,0.255608,0.408877,4.477257,...,15.343054,19.281167,22.060178,3.389376,16.507900,2.214103,2.933342,5.794750,68.923038,20.134886
3,11.201823,7.360851,2385.476949,210.651294,1.966380,13436.121909,0.173353,0.323850,0.234196,4.360851,...,4.103575,15.546292,27.362812,1.903730,78.164528,2.782537,5.646938,2.974373,73.242622,15.353524
4,9.065660,4.247667,3543.289906,128.203924,0.702136,14926.970407,0.204101,0.215994,0.448583,7.692917,...,13.548855,18.279632,22.422982,3.282540,47.961646,4.072452,4.390649,6.168789,50.811979,34.556155
5,0.000000,3.000000,2041.000000,22106.000000,0.768750,17691.000000,0.082540,0.321693,0.281291,0.000000,...,7.000000,20.490000,18.870000,3.460000,20.670000,5.250000,3.730000,1.440000,87.660000,1.910000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,54.000000,49.000000,3507.000000,969.000000,-0.311050,19774.000000,0.075111,0.242521,0.400983,0.000000,...,19.600000,21.720000,14.170000,6.140000,28.730000,3.910000,5.330000,2.840000,65.160000,22.760000
211,71.389276,158.187412,4397.303961,113.813431,-0.351502,14380.576888,0.146645,0.128295,0.538967,15.603286,...,19.433854,17.561383,23.730918,4.460127,68.715579,3.711476,8.058667,6.801020,14.563640,66.866634
212,15.642764,14.100123,2447.270773,143.425366,0.398449,15249.860351,0.145960,0.239565,0.452743,4.443398,...,8.155489,13.394400,22.309430,2.802139,65.820545,3.255779,10.638837,7.762009,67.525696,10.815367
213,0.000000,0.937386,417.611549,36580.063237,-0.256045,21370.315646,0.078568,0.223680,0.323329,0.000000,...,8.204747,23.908583,15.703836,0.176571,19.947961,0.000000,3.572498,0.000000,71.426452,25.010420
214,22.949559,13.243258,1877.673046,542.015691,1.540958,14435.627414,0.159156,0.322289,0.294931,6.877025,...,4.384009,15.920667,22.502552,3.206160,38.049048,3.371159,4.022871,0.903407,82.893547,8.807376

In [15]:
# identify datazones with missing values
df_weighted[df_weighted.isna().any(axis=1)]

,NUMPOINTS_ETI,NUMPOINTS_GE,Data_joined_Population,Data_joined_m2/inhabitant,Data_joined_IDS,Data_joined_IDS_Mincome,Data_joined_IDS_Unempl,Data_joined_IDS_BlueCol,Data_joined_IDS_Bac,Data_joined_BPE_L_Restau,...,Data_joined_AS_P_1,Data_joined_AS_P_2,Data_joined_AS_P_3,Data_joined_AS_P_4,Data_joined_AS_C_City,Data_joined_AS_C_No,Data_joined_AS_C_Walk,Data_joined_AS_C_2W,Data_joined_AS_C_Car,Data_joined_AS_C_PublicT
fid_eq,,,,,,,,,,,,,,,,,,,,,
125,16.634257,17.790887,2961.983664,633.235319,0.169088,18413.631167,0.098035,0.306998,0.430527,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,261.000000,139.000000,6727.000000,NaN,-0.928181,19860.000000,0.067825,0.190240,0.486186,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,3.000000,2.000000,1142.000000,18912.000000,0.362120,17522.000000,0.096618,0.283414,0.370948,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,3.816753,3.507705,2705.244945,941.564142,-2.151205,26090.373548,0.051150,0.114128,0.516618,0.04415,...,20.032534,27.672932,18.350402,4.441056,14.118528,1.159618,1.837671,3.80585,63.995946,29.20034

In [16]:
# saving dataframe to csv
df_weighted.to_csv('/home/ls283h/Work/EcoQuartier/eq_with_weighted_iris.csv', index=True)

In [69]:
# does not work...
#df.transform(lambda x: x * (x.area_iris_in_eq/x.area_eq) if x.name in df.columns[2:-1] else x, axis=1)

,area_eq,fid_eq,Population,%BlueColla,%Baccalaur,%Unemploym,MedianInco,SDI,t1_fdep09_,HealthProf,HistoricMo,Surface,Area/Pop,Pop/Km2,R&D,PublicEven,area_iris_in_eq
fid,,,,,,,,,,,,,,,,,
1,8224.253,1.0,558.0,0.282609,0.232346,0.100000,16354.0,1.014270,NaN,2.0,0.0,32632733.2,58482.0,0.0,0.0,0.0,8224.253
2,466210.766,2.0,2958.0,0.370262,0.233784,0.151603,15355.0,1.850948,1.793425,6.0,0.0,348982.3,118.0,8.0,0.0,96.0,118015.911
3,466210.766,2.0,1657.0,0.260870,0.370840,0.133696,18847.0,0.352127,0.483772,3.0,0.0,296717.0,179.0,6.0,1.0,1.0,80.238
4,466210.766,2.0,2522.0,0.216789,0.468208,0.047270,23086.0,-1.200297,-0.900578,1.0,0.0,1296108.5,514.0,2.0,2.0,0.0,347877.494
5,466210.766,2.0,118.0,0.140000,0.521127,0.120000,19654.0,-0.944864,NaN,1.0,0.0,434250.8,3680.0,0.0,1.0,2.0,237.664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
538,604556.428,214.0,1597.0,0.452539,0.120677,0.196468,13062.0,3.178435,2.983966,1.0,0.0,88972.6,56.0,18.0,0.0,4.0,80.788
539,604556.428,214.0,1660.0,0.322946,0.284111,0.155807,14395.0,1.567282,1.523616,1.0,0.0,1045288.8,630.0,2.0,2.0,15.0,491648.069
540,604556.428,214.0,3202.0,0.310850,0.360202,0.184751,14042.0,1.447106,1.448924,24.0,8.0,298604.7,93.0,11.0,2.0,194.0,40347.777
541,604556.428,214.0,2438.0,0.342256,0.303497,0.151052,15718.0,1.419404,1.419960,0.0,0.0,1301356.2,534.0,2.0,0.0,23.0,13678.136
542,604556.428,214.0,2659.0,0.319816,0.338861,0.171429,14749.0,1.411279,1.414800,24.0,0.0,312074.7,117.0,9.0,0.0,4.0,58801.662

In [16]:
#df['_test']=df.apply(lambda row: row.Population*(row.area_iris_in_eq/row.area_eq),axis=1)
#the same
#df['test'] = df.Population * (df.area_iris_in_eq/df.area_eq)

In [182]:
def weighted_mean(gr):
    for attribute in df.columns[2:-1]:
        print(attribute, df[attribute].mean())
    
        return gr.median()

In [212]:
def foo(gr):
    print(type(gr))
    return None

In [236]:
def foo(gr):
    print(gr, '\n')

In [237]:
df.groupby('fid_eq')[['area_eq','Population','area_iris_in_eq']].apply(foo)

      area_eq  Population  area_iris_in_eq
fid
1    8224.253         558         8224.253

        area_eq  Population  area_iris_in_eq
fid
2    466210.766        2958       118015.911
3    466210.766        1657           80.238
4    466210.766        2522       347877.494
5    466210.766         118          237.664

       area_eq  Population  area_iris_in_eq
fid
6    285112.07        2373       136888.445
7    285112.07        2397       148223.609

        area_eq  Population  area_iris_in_eq
fid
8    224797.577        3874       187653.199
9    224797.577        1683          475.143
10   224797.577        1875        36669.241

       area_eq  Population  area_iris_in_eq
fid
11   14700.726        2041        14700.726

       area_eq  Population  area_iris_in_eq
fid
12   147202.38        4845        147202.38

        area_eq  Population  area_iris_in_eq
fid
13   119361.404          80           43.388
14   119361.404        2784       119318.100

       area_eq  Population  area_iris_in_eq
fid
15   73311.812        2873        13736.570
16   73311.812        2223        59574.749

        area_eq  Population  area_iris_in_eq
fid
17   275469.642        2472         4916.894
18   275469.642        3105       257057.004
19   275469.642        2358        13505.694

       area_eq  Population  area_iris_in_eq
fid
20   20968.114        1094        20968.114

         area_eq  Population  area_iris_in_eq
fid
21   1106020.954        2000       952598.420
22   1106020.954        2310         4529.952
23   1106020.954        1547       148893.344

        area_eq  Population  area_iris_in_eq
fid
24   128790.186        2790       128488.364
25   128790.186        2773          233.299
26   128790.186        3025           68.007

      area_eq  Population  area_iris_in_eq
fid
27   3703.021        1984         3703.021

       area_eq  Population  area_iris_in_eq
fid
28   41015.669        2726        40664.163
29   41015.669        2239          351.506

         area_eq  Population  area_iris_in_eq
fid
30   3758758.924        1982       216220.345
31   3758758.924        3052       267936.438
32   3758758.924        3790        13644.577
33   3758758.924        2953       275665.865
34   3758758.924        3834         1546.441
35   3758758.924        4429      2983788.161

       area_eq  Population  area_iris_in_eq
fid
36   94507.683         720        94507.683

      area_eq  Population  area_iris_in_eq
fid
37   6129.809        2031         6129.809

        area_eq  Population  area_iris_in_eq
fid
38   860606.224        4216        35483.502
39   860606.224        8363       825122.916

        area_eq  Population  area_iris_in_eq
fid
40   140817.801        2741         1886.081
41   140817.801        2446       138267.648
42   140817.801        2703          527.972
43   140817.801        2222          135.968

        area_eq  Population  area_iris_in_eq
fid
44   191766.229        2319        60912.343
45   191766.229        1378            0.919
46   191766.229        1650         1638.079
47   191766.229        1342        32455.470
48   191766.229        2047        96759.416

        area_eq  Population  area_iris_in_eq
fid
49   130503.245        1716          940.082
50   130503.245        2295       129563.154

        area_eq  Population  area_iris_in_eq
fid
51   247727.641        2588       247727.641

        area_eq  Population  area_iris_in_eq
fid
52   770558.499        2887        83461.208
53   770558.499        1875       172117.520
54   770558.499        2051        22115.896
55   770558.499        1937        52543.335
56   770558.499        1850         1145.456
57   770558.499        2027       103255.686
58   770558.499        3088       206587.004
59   770558.499        3363       129108.472
60   770558.499        2316          224.090

         area_eq  Population  area_iris_in_eq
fid
61   3720900.526        1664      1566340.791
62   3720900.526           9       282487.009
63   3720900.526         158       144559.844
64   3720900.526        2365        69448.483
65   3720900.526        1998        11991.080
66   3720900.526        2605         1619.013
67   3720900.526          72       315530.373
68   3720900.526        1331       211510.330
69   3720900.526        2588        95121.188
70   3720900.526        3317         3927.539
71   3720900.526        2790          355.552
72   3720900.526        1522        14924.369
73   3720900.526        2761        11531.465
74   3720900.526        2329        86336.288

        area_eq  Population  area_iris_in_eq
fid
75   103759.558        1620       103759.558

       area_eq  Population  area_iris_in_eq
fid
76   36237.338        1864        36237.338

      area_eq  Population  area_iris_in_eq
fid
77   7784.475         584         7784.475

       area_eq  Population  area_iris_in_eq
fid
78   27213.579        1708        27135.992
79   27213.579        4797           77.601

       area_eq  Population  area_iris_in_eq
fid
80   11151.265        4640        11151.265

       area_eq  Population  area_iris_in_eq
fid
81   15108.887        2985        15108.887

        area_eq  Population  area_iris_in_eq
fid
82   156009.389        2041         4365.490
83   156009.389        2190         4380.838
84   156009.389        1971         8547.648
85   156009.389        2614       113408.374
86   156009.389        2367          787.855
87   156009.389        1476        24519.159

        area_eq  Population  area_iris_in_eq
fid
88   310687.124        2170       155952.122
89   310687.124         418       154734.930

     area_eq  Population  area_iris_in_eq
fid
90    293.82          16           293.82

       area_eq  Population  area_iris_in_eq
fid
91   33377.877        3242        33377.877

         area_eq  Population  area_iris_in_eq
fid
92   2325683.029        2499       709562.826
93   2325683.029        2527        42544.001
94   2325683.029         899      1522198.689
95   2325683.029        3964          318.444
96   2325683.029        2258        51065.314

      area_eq  Population  area_iris_in_eq
fid
97   9833.632          22         9833.632

        area_eq  Population  area_iris_in_eq
fid
98   203943.386        3350       203943.386

       area_eq  Population  area_iris_in_eq
fid
99   28445.507         485        28445.507

       area_eq  Population  area_iris_in_eq
fid
100  76126.679        2986        76126.679

        area_eq  Population  area_iris_in_eq
fid
101  143784.226         395       143784.226

        area_eq  Population  area_iris_in_eq
fid
102  154587.417        1931       154587.417

        area_eq  Population  area_iris_in_eq
fid
103  112450.255        3054        28054.109
104  112450.255        2715        84396.062

      area_eq  Population  area_iris_in_eq
fid
105  39938.69        2473        39331.954
106  39938.69        2772          606.892

       area_eq  Population  area_iris_in_eq
fid
107  86121.505        1891        86121.505

        area_eq  Population  area_iris_in_eq
fid
108  376974.817        2066        10779.247
109  376974.817        2599         2182.384
110  376974.817        1381       364013.211

       area_eq  Population  area_iris_in_eq
fid
111  344937.18        3114        344937.18

        area_eq  Population  area_iris_in_eq
fid
112  259865.881        2458       259865.881

        area_eq  Population  area_iris_in_eq
fid
113  2184243.33        2402       227549.613
114  2184243.33        2997         5292.824
115  2184243.33        2918      1249511.883
116  2184243.33        2852       130528.151
117  2184243.33        2044       228202.325
118  2184243.33        4117       343161.613

       area_eq  Population  area_iris_in_eq
fid
119  26469.454        2335        26469.454

       area_eq  Population  area_iris_in_eq
fid
120  21229.574         234        21229.574

       area_eq  Population  area_iris_in_eq
fid
121  20359.001        1942        19556.518
122  20359.001        2928          802.353

        area_eq  Population  area_iris_in_eq
fid
123  157778.987        3275          466.557
124  157778.987          43        59481.386
125  157778.987        3075        97831.159

        area_eq  Population  area_iris_in_eq
fid
126  506842.403        2043       336952.804
127  506842.403         426       169889.596

         area_eq  Population  area_iris_in_eq
fid
128  2534102.593        2942       241204.533
129  2534102.593        2397       309321.841
130  2534102.593        1660       154388.101
131  2534102.593          36       482095.065
132  2534102.593        1797       162213.256
133  2534102.593        2244       808282.007
134  2534102.593        2794        10785.911
135  2534102.593        2674       365808.893

       area_eq  Population  area_iris_in_eq
fid
136  55348.327        3056        55348.327

        area_eq  Population  area_iris_in_eq
fid
137  113781.302        2893         2811.228
138  113781.302         595        52275.019
139  113781.302        1986        12407.994
140  113781.302        2315        45961.661
141  113781.302        2282          324.305

       area_eq  Population  area_iris_in_eq
fid
142  19804.442         366        19804.442

         area_eq  Population  area_iris_in_eq
fid
143  3406630.027        2469         2035.806
144  3406630.027        3052        41196.364
145  3406630.027        2845      1651486.075
146  3406630.027        3790       805273.558
147  3406630.027         686       906659.252

       area_eq  Population  area_iris_in_eq
fid
148  24862.471         634        24862.471

      area_eq  Population  area_iris_in_eq
fid
149  61944.96        1762         61944.96

        area_eq  Population  area_iris_in_eq
fid
150  440818.396        2560          304.191
151  440818.396        5404       440514.200

       area_eq  Population  area_iris_in_eq
fid
152  87248.369        4595        87248.369

        area_eq  Population  area_iris_in_eq
fid
153  177695.221        1846         2402.864
154  177695.221        1571       175292.353

        area_eq  Population  area_iris_in_eq
fid
155  419118.243        2483        39381.490
156  419118.243        1685        88549.015
157  419118.243        2756          760.075
158  419118.243        2074          189.935
159  419118.243        2232       111241.172
160  419118.243        1850        97877.707
161  419118.243        2364        40570.825
162  419118.243        2424          638.281
163  419118.243        3538           72.843
164  419118.243        2161        39836.898

       area_eq  Population  area_iris_in_eq
fid
165  78650.492        3756        78650.492

       area_eq  Population  area_iris_in_eq
fid
166  73783.315          44          360.044
167  73783.315        2142        73423.284

       area_eq  Population  area_iris_in_eq
fid
168  65271.086        3342         1269.936
169  65271.086        2577        64000.995

        area_eq  Population  area_iris_in_eq
fid
170  124333.269        1798        89109.691
171  124333.269        2263        35223.882

        area_eq  Population  area_iris_in_eq
fid
172  440664.803        2099         5065.871
173  440664.803        2882         3297.428
174  440664.803        2259       274591.457
175  440664.803        1923       100983.471
176  440664.803        3293        55085.715
177  440664.803        2246         1641.030

        area_eq  Population  area_iris_in_eq
fid
178  866215.373        3086        11050.770
179  866215.373        2568         1187.697
180  866215.373        2625       251877.692
181  866215.373        2960       602099.538

       area_eq  Population  area_iris_in_eq
fid
182  36909.126        2538        36909.126

        area_eq  Population  area_iris_in_eq
fid
183  357366.551        2556       357366.551

      area_eq  Population  area_iris_in_eq
fid
184  9754.152         261         9754.152

       area_eq  Population  area_iris_in_eq
fid
185  99288.208        2068         3162.500
186  99288.208        2013          757.430
187  99288.208        2190        54695.012
188  99288.208        1818        31068.914
189  99288.208        2456         9603.259

        area_eq  Population  area_iris_in_eq
fid
190  270620.409         611          885.431
191  270620.409        3037       269734.971

        area_eq  Population  area_iris_in_eq
fid
192  596914.378        1154        41509.798
193  596914.378        2292        71424.176
194  596914.378        1296        44867.660
195  596914.378        1951        41721.698
196  596914.378         287        39745.124
197  596914.378        2512        75874.636
198  596914.378        1991        78373.604
199  596914.378        3298        95362.882
200  596914.378        2552       108033.201

      area_eq  Population  area_iris_in_eq
fid
201  59276.19         785         59276.19

        area_eq  Population  area_iris_in_eq
fid
202  287198.001        1437        53759.458
203  287198.001        2094       112789.132
204  287198.001        3153          565.840
205  287198.001        2451        85715.064
206  287198.001        2802        34368.416

        area_eq  Population  area_iris_in_eq
fid
207  120253.783        1768       120253.783

       area_eq  Population  area_iris_in_eq
fid
208  95154.799        2335        95154.799

       area_eq  Population  area_iris_in_eq
fid
209  187801.41        2382        20733.285
210  187801.41        2490       165657.018
211  187801.41        1891         1410.396

        area_eq  Population  area_iris_in_eq
fid
212  236360.454        2715          731.771
213  236360.454        2571       235628.819

        area_eq  Population  area_iris_in_eq
fid
214  374156.991        2915          755.072
215  374156.991        2506         1034.574
216  374156.991        3037         1073.380
217  374156.991        4733       371293.714

      area_eq  Population  area_iris_in_eq
fid
218  3253.873        2703         3253.873

       area_eq  Population  area_iris_in_eq
fid
219  71278.944        3986          669.838
220  71278.944        2132        70609.091

        area_eq  Population  area_iris_in_eq
fid
221  158537.245        2078       158537.245

        area_eq  Population  area_iris_in_eq
fid
222  151031.335        2800       150747.452
223  151031.335        3450          284.101

       area_eq  Population  area_iris_in_eq
fid
224  612430.89        4114        612430.89

        area_eq  Population  area_iris_in_eq
fid
225  526021.733        1999        44032.264
226  526021.733        2454       122720.733
227  526021.733        2790         2249.162
228  526021.733        2663          901.368
229  526021.733        1783         6440.346
230  526021.733        1711       349678.035

       area_eq  Population  area_iris_in_eq
fid
231  39237.594        4239        39237.594

       area_eq  Population  area_iris_in_eq
fid
232  83226.349        2700        43713.640
233  83226.349        2673        39512.716

       area_eq  Population  area_iris_in_eq
fid
234  49209.623        2439        49209.623

        area_eq  Population  area_iris_in_eq
fid
235  138261.291        2404        52788.446
236  138261.291        4735        85473.101

        area_eq  Population  area_iris_in_eq
fid
237  633010.818        1987            8.071
238  633010.818        4406       184066.727
239  633010.818        1122       208958.251
240  633010.818        2019       239977.619

       area_eq  Population  area_iris_in_eq
fid
241  40990.849        4162        40990.849

        area_eq  Population  area_iris_in_eq
fid
242  344132.417        2131           10.059
243  344132.417        2661       108388.362
244  344132.417        3717         5058.653
245  344132.417        3394        75377.771
246  344132.417        2275       155289.664
247  344132.417        2979            7.856

       area_eq  Population  area_iris_in_eq
fid
248  51936.013        2970        51936.013

        area_eq  Population  area_iris_in_eq
fid
249  177613.539        2830         5351.285
250  177613.539        2805       172262.230

        area_eq  Population  area_iris_in_eq
fid
251  245711.495        1511            3.987
252  245711.495        2155        89273.073
253  245711.495        2036        39442.196
254  245711.495        1597          306.727
255  245711.495        2384       116685.576

        area_eq  Population  area_iris_in_eq
fid
256  944918.259        3072         6181.153
257  944918.259        2490        34875.266
258  944918.259        3526          548.817
259  944918.259        2035        24696.497
260  944918.259        2839        27462.475
261  944918.259        2235        81910.363
262  944918.259        3557          719.756
263  944918.259        2821        24545.258
264  944918.259        2974         9155.909
265  944918.259        4347          479.752
266  944918.259        2597           98.921
267  944918.259        3021       734244.906

        area_eq  Population  area_iris_in_eq
fid
268  632573.649        3519       151016.103
269  632573.649        2313       481557.266

         area_eq  Population  area_iris_in_eq
fid
270  1089176.459        2756       249789.971
271  1089176.459        2454       208354.771
272  1089176.459        2790        15223.941
273  1089176.459        1915       588033.955
274  1089176.459        2857        26769.837
275  1089176.459        3087          951.878
276  1089176.459        1711           51.117

       area_eq  Population  area_iris_in_eq
fid
277  98267.563        1847        98267.563

       area_eq  Population  area_iris_in_eq
fid
278  71797.261        2189        71201.205
279  71797.261        1829          595.665

        area_eq  Population  area_iris_in_eq
fid
280  196315.257        2294       196315.257

       area_eq  Population  area_iris_in_eq
fid
281  69295.877        5610        69295.877

       area_eq  Population  area_iris_in_eq
fid
282  23821.282         977        23821.282

       area_eq  Population  area_iris_in_eq
fid
283  128833.89        2870        14592.396
284  128833.89        2545       114241.534

       area_eq  Population  area_iris_in_eq
fid
285  225555.74        2994       152564.349
286  225555.74        2210        72931.023
287  225555.74        2886           57.221

       area_eq  Population  area_iris_in_eq
fid
288  65037.072        2079          370.452
289  65037.072        2858        64666.710

        area_eq  Population  area_iris_in_eq
fid
290  153720.494        2256       153720.494

        area_eq  Population  area_iris_in_eq
fid
291  472775.998        3080       104600.672
292  472775.998        2706       368175.312

      area_eq  Population  area_iris_in_eq
fid
293  5338.725        2538         5338.725

      area_eq  Population  area_iris_in_eq
fid
294  4810.663         580         4810.663

        area_eq  Population  area_iris_in_eq
fid
295  391392.439        3553       199869.916
296  391392.439        2849       191522.271

        area_eq  Population  area_iris_in_eq
fid
297  101116.214         434       101116.214

        area_eq  Population  area_iris_in_eq
fid
298  113158.071        3134         5109.813
299  113158.071        1851       108048.253

       area_eq  Population  area_iris_in_eq
fid
300  14832.382        1048        14832.382

       area_eq  Population  area_iris_in_eq
fid
301  42771.769        1589        42771.769

       area_eq  Population  area_iris_in_eq
fid
302  10509.931        2239        10509.931

       area_eq  Population  area_iris_in_eq
fid
303  15393.469         772        15393.469

         area_eq  Population  area_iris_in_eq
fid
304  2253324.701        2620        53943.868
305  2253324.701        2709        16413.150
306  2253324.701        3838          965.059
307  2253324.701        2311        13959.659
308  2253324.701        2612       102458.597
309  2253324.701        3710      1119825.024
310  2253324.701        3555        92720.042
311  2253324.701        2747       674355.200

Empty DataFrame
Columns: []
Index: []

In [187]:
df.groupby('fid_eq')[df.columns[2:-1]].apply(lambda gr: gr.median())

/home/ls283h/python-virtual-environments/ecoquartier/lib/python3.6/site-packages/numpy/lib/nanfunctions.py:1116: RuntimeWarning: All-NaN slice encountered
  overwrite_input=overwrite_input)

,Population,%BlueColla,%Baccalaur,%Unemploym,MedianInco,SDI,t1_fdep09_,HealthProf,HistoricMo,Surface,Area/Pop,Pop/Km2,R&D,PublicEven
fid_eq,,,,,,,,,,,,,,
1,558.0,0.282609,0.232346,0.100000,16354.0,1.014270,NaN,2.0,0.0,32632733.20,58482.0,0.0,0.0,0.0
2,2089.5,0.238829,0.419524,0.126848,19250.5,-0.296368,0.483772,2.0,0.0,391616.55,346.5,4.0,1.0,1.5
3,2385.0,0.322513,0.236388,0.170867,13587.0,1.920653,1.826471,1.0,0.0,506801.40,212.5,5.0,0.0,8.0
4,1875.0,0.220884,0.446484,0.221986,14515.0,0.893498,0.977446,2.0,1.0,457318.20,173.0,6.0,0.0,32.0
5,2041.0,0.321693,0.281291,0.082540,17691.0,0.768750,NaN,3.0,0.0,45117755.10,22106.0,0.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,3507.0,0.242521,0.400983,0.075111,19774.0,-0.311050,NaN,19.0,9.0,3398622.50,969.0,1.0,1.0,121.0
211,2845.0,0.115099,0.590429,0.141060,19113.0,-1.030853,-0.734889,2.5,0.0,99973.90,43.0,23.5,1.0,11.5
212,2465.5,0.218710,0.473680,0.143911,16354.0,0.252238,0.409422,5.0,0.0,374829.60,153.5,7.0,1.0,4.5
213,366.0,0.197077,0.353018,0.064590,22106.0,-0.655845,NaN,0.0,0.0,10666744.90,27464.5,0.0,0.0,2.0
214,2438.0,0.322946,0.303497,0.171429,14395.0,1.447106,1.448924,1.0,0.0,312074.70,117.0,9.0,0.0,15.0

In [204]:
df.groupby('fid_eq')[['_test']].sum()

              _test
fid_eq
1        558.000000
2       2630.996950
3       2385.476949
4       3543.289906
5       2041.000000
...             ...
210     3507.000000
211     4397.303961
212     2447.270773
213      417.611549
214     1877.673046

[212 rows x 1 columns]

In [92]:
df.columns

Index(['fid', 'area_eq', 'fid_eq', 'Population', '%BlueColla', '%Baccalaur',
       '%Unemploym', 'MedianInco', 'SDI', 't1_fdep09_', 'HealthProf',
       'HistoricMo', 'Surface', 'Area/Pop', 'Pop/Km2', 'R&D', 'PublicEven',
       'area_iris_in_eq'],
      dtype='object')

In [118]:
 for attribute in df.columns[2:-1]:
        print(attribute, df[attribute].mean())

fid_eq 110.70479704797047
Population 2443.221402214022
%BlueColla 0.2338329660845172
%Baccalaur 0.42454468233560216
%Unemploym 0.13791139214454878
MedianInco 17763.931734317342
SDI 0.16446340818554783
t1_fdep09_ 0.372734456864825
HealthProf 7.4944649446494465
HistoricMo 0.6715867158671587
Surface 3736144.5359404096
Area/Pop 6582.668528864059
Pop/Km2 6.899441340782123
R&D 1.7804428044280443
PublicEven 28.669741697416974

In [132]:
x = df.columns
x[0]

'fid'

In [129]:
for (fid_eq, group) in df.groupby('fid_eq'):
    print("{}  shape={}".format(fid_eq, group.shape))

1  shape=(1, 18)
2  shape=(4, 18)
3  shape=(2, 18)
4  shape=(3, 18)
5  shape=(1, 18)
6  shape=(1, 18)
7  shape=(2, 18)
8  shape=(2, 18)
9  shape=(3, 18)
10  shape=(1, 18)
11  shape=(3, 18)
12  shape=(3, 18)
13  shape=(1, 18)
14  shape=(2, 18)
15  shape=(6, 18)
16  shape=(1, 18)
17  shape=(1, 18)
18  shape=(2, 18)
19  shape=(4, 18)
20  shape=(5, 18)
21  shape=(2, 18)
22  shape=(1, 18)
23  shape=(9, 18)
24  shape=(14, 18)
25  shape=(1, 18)
26  shape=(1, 18)
27  shape=(1, 18)
28  shape=(2, 18)
29  shape=(1, 18)
30  shape=(1, 18)
31  shape=(6, 18)
33  shape=(2, 18)
34  shape=(1, 18)
35  shape=(1, 18)
36  shape=(5, 18)
37  shape=(1, 18)
38  shape=(1, 18)
39  shape=(1, 18)
40  shape=(1, 18)
41  shape=(1, 18)
42  shape=(1, 18)
43  shape=(2, 18)
44  shape=(2, 18)
45  shape=(1, 18)
46  shape=(3, 18)
47  shape=(1, 18)
48  shape=(1, 18)
49  shape=(6, 18)
50  shape=(1, 18)
51  shape=(1, 18)
52  shape=(2, 18)
53  shape=(3, 18)
54  shape=(2, 18)
55  shape=(8, 18)
56  shape=(1, 18)
57  shape=(5, 18)
58  shape=(1, 18)
59  shape=(5, 18)
60  shape=(1, 18)
61  shape=(1, 18)
62  shape=(2, 18)
63  shape=(1, 18)
64  shape=(2, 18)
65  shape=(10, 18)
66  shape=(1, 18)
68  shape=(2, 18)
69  shape=(2, 18)
70  shape=(2, 18)
71  shape=(6, 18)
72  shape=(4, 18)
73  shape=(1, 18)
74  shape=(1, 18)
75  shape=(1, 18)
76  shape=(5, 18)
77  shape=(2, 18)
78  shape=(9, 18)
79  shape=(1, 18)
80  shape=(5, 18)
81  shape=(1, 18)
82  shape=(1, 18)
83  shape=(3, 18)
84  shape=(2, 18)
85  shape=(4, 18)
86  shape=(1, 18)
87  shape=(2, 18)
88  shape=(1, 18)
89  shape=(2, 18)
90  shape=(1, 18)
91  shape=(6, 18)
92  shape=(1, 18)
93  shape=(2, 18)
94  shape=(1, 18)
95  shape=(2, 18)
96  shape=(4, 18)
97  shape=(1, 18)
98  shape=(6, 18)
99  shape=(1, 18)
100  shape=(2, 18)
101  shape=(5, 18)
102  shape=(12, 18)
103  shape=(2, 18)
104  shape=(7, 18)
105  shape=(1, 18)
106  shape=(2, 18)
107  shape=(1, 18)
108  shape=(1, 18)
109  shape=(1, 18)
110  shape=(2, 18)
111  shape=(3, 18)
112  shape=(2, 18)
113  shape=(1, 18)
114  shape=(2, 18)
115  shape=(1, 18)
116  shape=(1, 18)
117  shape=(2, 18)
118  shape=(1, 18)
119  shape=(2, 18)
120  shape=(1, 18)
121  shape=(1, 18)
122  shape=(1, 18)
123  shape=(1, 18)
124  shape=(9, 18)
125  shape=(4, 18)
126  shape=(1, 18)
127  shape=(5, 18)
128  shape=(2, 18)
129  shape=(2, 18)
130  shape=(1, 18)
131  shape=(1, 18)
132  shape=(5, 18)
133  shape=(1, 18)
134  shape=(4, 18)
135  shape=(1, 18)
136  shape=(1, 18)
137  shape=(1, 18)
138  shape=(1, 18)
139  shape=(1, 18)
140  shape=(1, 18)
141  shape=(1, 18)
142  shape=(4, 18)
143  shape=(1, 18)
144  shape=(1, 18)
145  shape=(2, 18)
146  shape=(1, 18)
147  shape=(2, 18)
148  shape=(1, 18)
149  shape=(2, 18)
150  shape=(2, 18)
151  shape=(7, 18)
152  shape=(7, 18)
153  shape=(1, 18)
154  shape=(1, 18)
155  shape=(1, 18)
156  shape=(3, 18)
157  shape=(1, 18)
158  shape=(1, 18)
159  shape=(1, 18)
160  shape=(1, 18)
161  shape=(5, 18)
162  shape=(1, 18)
163  shape=(1, 18)
164  shape=(1, 18)
165  shape=(6, 18)
166  shape=(5, 18)
167  shape=(3, 18)
168  shape=(1, 18)
169  shape=(2, 18)
170  shape=(1, 18)
171  shape=(1, 18)
172  shape=(1, 18)
173  shape=(2, 18)
174  shape=(2, 18)
175  shape=(1, 18)
176  shape=(3, 18)
177  shape=(4, 18)
178  shape=(1, 18)
179  shape=(1, 18)
180  shape=(2, 18)
181  shape=(1, 18)
182  shape=(2, 18)
183  shape=(2, 18)
184  shape=(1, 18)
185  shape=(2, 18)
186  shape=(1, 18)
187  shape=(3, 18)
188  shape=(3, 18)
189  shape=(2, 18)
190  shape=(1, 18)
191  shape=(2, 18)
192  shape=(2, 18)
193  shape=(3, 18)
194  shape=(2, 18)
195  shape=(2, 18)
196  shape=(9, 18)
197  shape=(2, 18)
198  shape=(8, 18)
199  shape=(11, 18)
200  shape=(1, 18)
201  shape=(2, 18)
202  shape=(1, 18)
203  shape=(3, 18)
204  shape=(5, 18)
205  shape=(1, 18)
206  shape=(1, 18)
207  shape=(4, 18)
208  shape=(1, 18)
209  shape=(5, 18)
210  shape=(1, 18)
211  shape=(8, 18)
212  shape=(14, 18)
213  shape=(2, 18)
214  shape=(5, 18)

In [76]:
mean_eq = []
for eq in df.fid_eq.unique():
    print(eq)
    print(df[df['fid_eq']==eq].first())
#    for attribute in df.columns[2:-1]:
#        print(df[attribute])
#    break

1

TypeError: first() missing 1 required positional argument: 'offset'